<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class="body">
    <h1 th:text="${title}"></h1>
    <div>
        <a href="/add-product" class="button-link"><span sec:authorize="isAuthenticated()">Add new Product</span></a>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.stock}"></td>
                    <td>
                        <form method="post" th:action="@{'/delete-product/' + ${product.id}}" style="display: inline-block;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>

                        <form method="get" th:action="@{'/update-product/' + ${product.id}}" style="display: inline-block;">
                            <button type="submit" class="btn btn-primary">Modify</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>