<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class="body">
    <h1 th:text="${title}"></h1>
    <div>
        <table>
            <tr>
                <th>Authority</th>
            </tr>
            <tr th:each="role : ${roles}">
                <td th:text="${role.role}"></td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>